<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div class="usa-grid usa-color-outline">
    <div class="usa-width-one-third">
      <div class="usa-color-text usa-color-text-green">
        <%= flash.notice %>
      </div>
    </div>
  </div>
<% end %>
<div class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    <div class="usa-width-three-fourths usa-layout-docs-main_content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
    </div>
</div>

</body>
</html>
